@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-feature-settings: 'lnum' 1;
  font-variant-numeric: lining-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


// Fade out
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}

// Fade In
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

.notices {
  @apply fixed flex top-0 bottom-0 left-0 right-0 p-2 overflow-hidden z-[1000] pointer-events-none;
}

.notices.is-top {
  @apply flex-col;
}

.notices.is-bottom {
  @apply flex-col-reverse;
}

.notices .notification.is-bottom, 
.notices .notification.is-top, 
.notices .snackbar.is-bottom, 
.notices .snackbar.is-top, 
.notices .toast.is-bottom, 
.notices .toast.is-top {
  @apply self-center;
}

.notices .toast {
  @apply inline-flex my-2 text-center shadow-lg p-2 px-4 pointer-events-auto opacity-90 rounded-full;
}

.mj-stepper .step {
  @apply flex-1 flex justify-start pointer-events-none items-center relative;
}

.mj-stepper .step::after,
.mj-stepper .step::before {
  content: '';
  height: 3px;
  z-index: 1;
  @apply absolute w-full left-0 right-0;
}

.mj-stepper .step::after {
  transition: .2s ease-in-out;
  will-change: width;
  @apply bg-brand opacity-0 w-0;
}

.mj-stepper .step::before {
  @apply bg-gray-200 dark_bg-dark-200;
}

.mj-stepper .step .step-icon {
  height: 25px;
  width: 25px;
  z-index: 2;

  @apply rounded-full bg-gray-100 dark_bg-dark-100 border-2 border-gray-200 dark_border-dark-200 inline-flex justify-center items-center;
}

.mj-stepper .step.is-complete::after {
  @apply opacity-100 w-full;
}

.mj-stepper .step.is-complete .step-icon {
  @apply border-brand bg-brand;
}

.mj-stepper .step.is-current .step-icon {
  @apply border-navy;
}

.mj-stepper .step:last-child,
.mj-stepper .step:last-child .step-icon {
  @apply flex-none;
}

.mj-stepper .step:last-child::before,
.mj-stepper .step:last-child::after {
  display: none;
}