@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-feature-settings: 'lnum' 1;
  font-variant-numeric: lining-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}



@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut .2s;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.fadeOutDown {
  animation: fadeOutDown .2s;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation: fadeOutUp .2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn .2s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation: fadeInDown .2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation: fadeInUp .2s;
}

.notices {
  @apply fixed flex top-0 bottom-0 left-0 right-0 p-2 overflow-hidden z-[1000] pointer-events-none;
}

.notices.is-top {
  @apply flex-col;
}

.notices.is-bottom {
  @apply flex-col-reverse;
}

.notices .notification.is-bottom,
.notices .notification.is-top,
.notices .snackbar.is-bottom,
.notices .snackbar.is-top,
.notices .toast.is-bottom,
.notices .toast.is-top {
  @apply self-center;
}

.notices .toast {
  @apply inline-flex my-2 text-center shadow-lg py-3 px-8 pointer-events-auto opacity-90 rounded-full;
}

.mj-stepper .step {
  @apply flex-1 flex justify-start pointer-events-none items-center relative;
}

.mj-stepper .step::after,
.mj-stepper .step::before {
  content: '';
  height: 3px;
  z-index: 1;
  @apply absolute w-full left-0 right-0;
}

.mj-stepper .step::after {
  transition: .2s ease-in-out;
  will-change: width;
  @apply bg-brand opacity-0 w-0;
}

.mj-stepper .step::before {
  @apply bg-gray-200 dark_bg-dark-200;
}

.mj-stepper .step .step-icon {
  height: 25px;
  width: 25px;
  z-index: 2;

  @apply rounded-full bg-gray-100 dark_bg-dark-100 border-2 border-gray-200 dark_border-dark-200 inline-flex justify-center items-center;
}

.mj-stepper .step.is-complete::after {
  @apply opacity-100 w-full;
}

.mj-stepper .step.is-complete .step-icon {
  @apply border-brand bg-brand;
}

.mj-stepper .step.is-current .step-icon {
  @apply border-navy dark_border-gray-300;
}

.mj-stepper .step:last-child,
.mj-stepper .step:last-child .step-icon {
  @apply flex-none;
}

.mj-stepper .step:last-child::before,
.mj-stepper .step:last-child::after {
  display: none;
}

[type=checkbox]:checked,
[type=radio]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked {
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
}

[type="radio"]:checked {
  background-size: 70% 70%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 16C12.866 16 16 12.866 16 9C16 5.13401 12.866 2 9 2C5.13401 2 2 5.13401 2 9C2 12.866 5.13401 16 9 16ZM18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9Z' fill='white'/%3E%3C/svg%3E");
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-enter,
.slide-leave-to {
  --mj-slide: translateX(200px);
  opacity: 0;
  transform: var(--mj-slide);
}
